* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #1f1c18;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png")
}

header {
    background-color: #201e1e;
    color: white;
    padding: 0.5%;
    text-align: center;
    font-size: 15px;


}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #201e1e;
    padding: 0.5%;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

nav ul li a:hover {
    color: red;

}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    padding-top: 120px;
    flex-direction: column;

}


.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #2c2c2c;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    background-color: #3a3a3a;
}

.cards h2 {
    font-size: 25px;
    margin: 10px 0;
    color: white;
}

.cards p {
    color: white;
    margin: 10px 0;
}

.depoimentos {
    width: 90%;
    max-width: 1200px;
    text-align: center;
    padding: 4%;
    background-color: #2c2c2c;
    color: white;
    border-radius: 10px;
    margin: 20px auto;

}

.depoimentos h2 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-depoimentos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.depoimento {
    display: flex;
    color: white;
    background-color: #3a3a3a;
    border-radius: 10px;
    padding: 1.5%;
    width: 30%;
    min-width: 250px;
    max-width: 400px;
    font-style: italic;
}

.depoimento:hover {
    background-color: #4a4a4a;
}


@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .cards {
        flex-direction: column;
        padding: 10px;
    }

    .card {
        width: 100%;
        padding: 20px;
    }

    .container-depoimentos {
        flex-wrap: wrap;

    }

    header {
        font-size: 18px;
        padding: 15px;
    }

    footer {
        font-size: 14px;
        padding: 8px;
    }

    nav ul {
        align-items: center;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 45%;
        min-width: 250px;
        max-width: 400px;
    }

    nav ul {
        gap: 20px;
    }

    main {
        padding: 30px;
    }

    .container-depoimentos {
        flex-wrap: wrap;

    }
}


.notificacao {
    background-color: #2c2c2c;
    color: white;
    text-align: center;
    padding: 30px 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.notificacao h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.notificacao p {
    font-size: 16px;
    margin-bottom: 20px;
}

#notify {
    background-color: #3498db;
    /* Azul claro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#notify:hover {
    background-color: #2980b9;

}

.destaque {
    font-weight: bold;
}

#voltarTopo {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
    z-index: 1000;
}



footer {
    width: 100%;
    background-color: #2c2c2c;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 0;
    position: relative; 
    bottom: 0;
    margin-top: auto;
}